:host {
    min-width: 240px;
    display: block;
}

form {
    padding: 12px;
    display: flex;
    flex-direction: column;
}

div.header {
    display: flex;
    background-color: #F3F4FA;
    margin: 4px;
    border-radius: 12px;
    justify-content: space-between;
    font-size: 24px;
    font-weight: 600;
    align-items: center;
    padding: 8px 4px 8px 12px;
}

.button-login {
    height: 70px;
    width: 100%;
    border-radius: 100px;
    background-color: #5C68FF;
    border-width: 0px;
    color: white;
    font-size: 16px;
    line-height: 140%;
    font-weight: bold;
    text-align: middle;
    margin: 0px 0px 12px 0;
}