<div class="sidebar">

  <div class="logo-wrapper">
    <mat-icon svgIcon="logoMobile"></mat-icon>
  </div>

  <ul>

    <li>
      <a routerLinkActive="active"
         routerLink="/dashboard">
        <mat-icon svgIcon="dashboard"></mat-icon>
        <span class="span-item">Dashboard</span>
      </a>
    </li>

    <li>
      <a (click)="setActive('earn')"
         class="pointer">
        <mat-icon svgIcon="stakenew"></mat-icon>
        <span class="span-item">Earn<strong *ngIf="active() == 'earn' else closeTemplate">&#9660;</strong></span>
      </a>
    </li>

    <ul class="child"
        [class]="active() == 'earn' ? '' : 'hidden'">
      <li>
        <a routerLinkActive="active"
           routerLink="/earn/autonomous-earning">
          <mat-icon svgIcon="ai2"></mat-icon>
          <span class="span-item">Autonomous earning</span>
        </a>
      </li>
      <li>
        <a routerLinkActive="active"
           routerLink="/earn/autonomous-business">
          <mat-icon svgIcon="ai2"></mat-icon>
          <span class="span-item">Autonomous for business</span>
        </a>
      </li>


      <!-- <li>
        <a routerLinkActive="active"
           routerLink="/bonds">
          <mat-icon svgIcon="currency"></mat-icon>
          <span class="span-item">Bonds</span>
        </a>
      </li> -->

      <!-- <li>
        <a href="https://v1.credefi.finance/profile/loans/lent/portfolio"
           target="_blank">
          <mat-icon svgIcon="lend"></mat-icon>

          <span class="span-item">Lend(platform v1)</span>

        </a>
      </li> -->
    </ul>
    <ng-template #closeTemplate>
      <strong>&#9654;</strong>
    </ng-template>
    <li>
      <a (click)="setActive('utility')"
         class="pointer">
        <mat-icon svgIcon="stakenew2"></mat-icon>
        <span class="span-item">Stake<strong *ngIf="active() == 'utility' else closeTemplate">&#9660;</strong></span>
      </a>
    </li>

    <ul class="child"
        [class]="active() == 'utility' ? '' : 'hidden'">

      <li>
        <a routerLinkActive="active"
           routerLink="/utilities">
          <mat-icon svgIcon="stake"></mat-icon>
          <span class="span-item">Utilities</span>
        </a>
      </li>

      <li>
        <a routerLinkActive="active"
        routerLink="/staking">

          <mat-icon svgIcon="earnnew"></mat-icon>
          <span class="span-item">LP Stake</span>
        </a>
      </li>

      <li *ngIf="isXcrediStakingActive()">
        <a routerLinkActive="active"
        routerLink="/xcredi-stake">

          <mat-icon svgIcon="earnnew"></mat-icon>
          <span class="span-item">xCredi Stake</span>
        </a>
      </li>

      <!-- <li>
        <a href="https://v1.credefi.finance/profile/dashboard/stake"
           target="_blank">

          <mat-icon svgIcon="currency"></mat-icon>
          <span class="span-item">Stake(platform v1)</span>
        </a>
      </li> -->

    </ul>

    <li>
      <a routerLinkActive="active"
         routerLink="/modulex">
        <mat-icon svgIcon="stake"></mat-icon>
        <span class="span-item">Module X</span>
      </a>
    </li>

    <li>
      <a routerLinkActive="active"
         routerLink="/wallet">
        <mat-icon svgIcon="wallet"></mat-icon>
        <span class="span-item">Bank</span>
      </a>
    </li>
    <li>
      <a routerLinkActive="active"
         routerLink="/transactions">

        <mat-icon svgIcon="allTransactions"></mat-icon>
        <span class="span-item">All Transactions</span>

      </a>
    </li>


    <li>
      <a routerLink="/">
        <mat-icon svgIcon="goBack"></mat-icon>
        <span class="span-item">Go back to main</span>
      </a>
    </li>


  </ul>

  <div class="sidebar-footer">
    <div class="footer">
      <a href="https://web.telegram.org/k/#@credefi"
         target="_blank">
        <mat-icon svgIcon="telegram">
        </mat-icon>
      </a>
      <a href="https://www.facebook.com/credefi.finance"
         target="_blank">
        <mat-icon svgIcon="facebook20">
        </mat-icon>
      </a>
      <a href="https://twitter.com/credefi_finance"
         target="_blank">
        <mat-icon svgIcon="twitter">
        </mat-icon>
      </a>
      <a href="https://www.linkedin.com/company/credefi"
         target="_blank">
        <mat-icon svgIcon="linkedin">
        </mat-icon>
      </a>
    </div>
  </div>

</div>
