<div class="header">
    Trasnfer
    <button
        mat-icon-button
        (click)="ref.close()"
    >
        <mat-icon>close</mat-icon>
    </button>
</div>

<form
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
>

    <div class="dropDown">
        <mat-icon
            matPrefix
            class="prefix"
            svgIcon="currency-outline"
        >
        </mat-icon>

        <mat-select
            disableOptionCentering
            placeholder="Select Currency"
            class="credi-select"
            formControlName="currency"
        >
            <mat-option
                *ngFor="let item of currencies; trackBy: track('type')"
                [value]="item.type"
            >{{item.name}}
            </mat-option>
        </mat-select>

    </div>

    <mat-form-field class="credi-outline">
        <mat-icon
            matPrefix
            class="prefix"
            svgIcon="currency"
        >
        </mat-icon>
        <input
            matInput
            autocomplete
            type="number"
            placeholder="Amount"
            formControlName="amount"
        >
        <mat-error *ngFor="let error of form.get('amount') | error | slice:0:1">
            {{ error }}
        </mat-error>
    </mat-form-field>

    <mat-form-field class="credi-outline">
        <mat-icon
            matPrefix
            class="prefix"
            svgIcon="wallet"
        >
        </mat-icon>
        <input
            matInput
            autocomplete
            type="text"
            placeholder="Wallet address"
            formControlName="wallet"
        >
        <mat-error *ngFor="let error of form.get('wallet') | error | slice:0:1">
            {{ error }}
        </mat-error>
    </mat-form-field>

    <button
        class="button-login"
        mat-button
        [disabled]="isSubmit()"
    >
        {{ isSubmit() ? 'Loading...' : 'Submit'}}
    </button>
</form>