<div class="left">
  <div class="container-left">
    <form>
      <mat-icon
        class="mat-icon-logo-mobile"
        svgIcon="logoMobile"
      >
      </mat-icon>

      <hr class="top" />

      <div class="align-center">
        <h1 class="h1-form">Congratulation</h1>
        <p class="p-form padding-top">
          You have successfully registered,<br>
          Please check the spam directory if you do not recieve a verification email...
        </p>
        <a
          class="button-form button-primary"
          mat-button
          matRipple
          routerLink="/authentication/login"
        >
          Go to sign in
        </a>
      </div>
    </form>

    <div>
      <hr />
      <footer>
        <span>@2024 Credefi</span>
        <span>All rights reserved</span>
      </footer>
    </div>
  </div>
</div>

<div class="right">
  <div class="container-right">

    <mat-icon
      class="mat-icon-logo"
      svgIcon="logo"
    >
    </mat-icon>

    <mat-icon
      class="mat-icon-ellipse"
      svgIcon="ellipse01"
    >
    </mat-icon>

    <mat-icon
      class="mat-icon-ellipse-2"
      svgIcon="ellipse02"
    >
    </mat-icon>

    <mat-icon
      class="mat-icon-ellipse-3"
      svgIcon="ellipse03"
    >
    </mat-icon>

    <div class="did-you-know">
      <h1>
        There will be 3 lines in the header, please write them down
      </h1>
      <p>
        Credefi offers stable and predictable returns that are not affected by crypto market volatility. This is
        possible because we provide liquidity to real-world businesses with real assets, cash flows, and repayment
        schedules
      </p>

      <mat-icon
        class="step1of3"
        svgIcon="step"
      >
      </mat-icon>

      <lazy-image src="./assets/images/Steps.png" />
    </div>

  </div>
</div>
