@media (min-width: 700px) {

    mat-icon.mat-icon-logo-mobile {
      display: none;
    }
  }



  .did-you-know h1.lend-header span{
    color: rgba(255, 255, 255, 0.5);
  }


 

  .align-center p.p-login span{
    color: #11121C;
  }