<div *ngIf="!isMobile" class="wrapper">
    <div class="background-first-column">
        
    </div>
    <div class="container">
       
      
        <div class="heading"> 
            <h3 class="h3-general">Address book and Whitelist</h3>
            <div class="white-list">
                <p class="p-body">Whitelist</p>
                <mat-icon class="mat-icon-size-16-only" svgIcon="alertCircle"></mat-icon>
            
                <button class="button-off" mat-button>
                    <mat-icon class="mat-icon-size-16-only" svgIcon="ellipse"></mat-icon>
                    <span class="span-properties">Off </span>
                </button> 
            </div>

            <button class="button-add-address" mat-button>
                Add address 
            </button> 
        </div>
        <div class="trans-wrapper">
            <div class="trans-container">
                <div class="table-head">
                    <span>Label</span>
                    <span>Coin</span>
                    <span>Network</span>
                    <span>Address</span>
                    <span>Action</span>
                </div>
                <div class="table-body">
                    <span>Lyashenko</span>
                    <div class="wallet">
                        <mat-icon class="mat-icon-size-22-only" svgIcon="tether"></mat-icon>
                        <span class="span-style">USDT</span>
                    </div>
                    <span>TRC20</span>
                    <div class="wallet">
                        <mat-icon class="mat-icon-size-22-only" svgIcon="whitelist22"></mat-icon>
                        <span class="span-margin-middle">0x70c6...4b54C</span>
                        <mat-icon class="mat-icon-size-22-only" svgIcon="copy"></mat-icon>
                    </div>
                  <div>
                        <button class="button-edit"  mat-button>
                           <span class="span-margin" >Edit</span>
                        <mat-icon class="mat-icon-size-22-only" svgIcon="edit"></mat-icon>
                        </button> 
                        <button class="button-delete"  mat-button>
                            <span class="span-margin" >Delete</span>
                            <mat-icon class="mat-icon-size-22-only" svgIcon="trash"></mat-icon>
                         </button> 
                  </div>
                    
                </div>
                <div class="table-body">
                    <span>Lyashenko</span>
                    <div class="wallet">
                        <mat-icon class="mat-icon-size-22-only" svgIcon="tether"></mat-icon>
                          <span class="span-style">USDT</span>
                    </div>
                    <span>TRC20</span>
                    <div class="wallet">
                        <mat-icon class="mat-icon-size-22-only" svgIcon="whitelist22"></mat-icon>
                        <span class="span-margin-middle">0x70c6...4b54C</span>
                        <mat-icon class="mat-icon-size-22-only" svgIcon="copy"></mat-icon>
                    </div>
                    <div>
                        <button class="button-edit"  mat-button>
                           <span class="span-margin" >Edit</span>
                        <mat-icon class="mat-icon-size-22-only" svgIcon="edit"></mat-icon>
                        </button> 
                        <button class="button-delete"  mat-button>
                            <span class="span-margin" >Delete</span>
                            <mat-icon class="mat-icon-size-22-only" svgIcon="trash"></mat-icon>
                         </button> 
                  </div>                </div>
                <div class="table-body">
                    <span>Lyashenko</span>
                    <div class="wallet">
                        <mat-icon class="mat-icon-size-22-only" svgIcon="tether"></mat-icon>
                          <span class="span-style">USDT</span>
                    </div>
                    <span>TRC20</span>
                    <div class="wallet">
                        <mat-icon class="mat-icon-size-22-only" svgIcon="whitelist22"></mat-icon>
                        <span class="span-margin-middle">0x70c6...4b54C</span>
                        <mat-icon class="mat-icon-size-22-only" svgIcon="copy"></mat-icon>
                    </div>
                    <div>
                        <button class="button-edit"  mat-button>
                           <span class="span-margin" >Edit</span>
                        <mat-icon class="mat-icon-size-22-only" svgIcon="edit"></mat-icon>
                        </button> 
                        <button class="button-delete"  mat-button>
                            <span class="span-margin" >Delete</span>
                            <mat-icon class="mat-icon-size-22-only" svgIcon="trash"></mat-icon>
                         </button> 
                  </div>                </div>
                <div class="table-body">
                    <span>Lyashenko</span>
                    <div class="wallet">
                        <mat-icon class="mat-icon-size-22-only" svgIcon="tether"></mat-icon>
                          <span class="span-style">USDT</span>
                    </div>
                    <span>TRC20</span>
                    <div class="wallet">
                        <mat-icon class="mat-icon-size-22-only" svgIcon="whitelist22"></mat-icon>
                        <span class="span-margin-middle">0x70c6...4b54C</span>
                        <mat-icon class="mat-icon-size-22-only" svgIcon="copy"></mat-icon>
                    </div>
                    <div>
                        <button class="button-edit"  mat-button>
                           <span class="span-margin" >Edit</span>
                        <mat-icon class="mat-icon-size-22-only" svgIcon="edit"></mat-icon>
                        </button> 
                        <button class="button-delete"  mat-button>
                            <span class="span-margin" >Delete</span>
                            <mat-icon class="mat-icon-size-22-only" svgIcon="trash"></mat-icon>
                         </button> 
                  </div>                </div>
                <div class="table-body">
                    <span>Lyashenko</span>
                    <div class="wallet">
                        <mat-icon class="mat-icon-size-22-only" svgIcon="tether"></mat-icon>
                          <span class="span-style">USDT</span>
                    </div>
                    <span>TRC20</span>
                    <div class="wallet">
                        <mat-icon class="mat-icon-size-22-only" svgIcon="whitelist22"></mat-icon>
                        <span class="span-margin-middle">0x70c6...4b54C</span>
                        <mat-icon class="mat-icon-size-22-only" svgIcon="copy"></mat-icon>
                    </div>
                    <div>
                        <button class="button-edit"  mat-button>
                           <span class="span-margin" >Edit</span>
                        <mat-icon class="mat-icon-size-22-only" svgIcon="edit"></mat-icon>
                        </button> 
                        <button class="button-delete"  mat-button>
                            <span class="span-margin" >Delete</span>
                            <mat-icon class="mat-icon-size-22-only" svgIcon="trash"></mat-icon>
                         </button> 
                  </div>                </div>
                <div class="table-body">
                    <span>Lyashenko</span>
                    <div class="wallet">
                        <mat-icon class="mat-icon-size-22-only" svgIcon="tether"></mat-icon>
                          <span class="span-style">USDT</span>
                    </div>
                    <span>TRC20</span>
                    <div class="wallet">
                        <mat-icon class="mat-icon-size-22-only" svgIcon="whitelist22"></mat-icon>
                        <span class="span-margin-middle">0x70c6...4b54C</span>
                        <mat-icon class="mat-icon-size-22-only" svgIcon="copy"></mat-icon>
                    </div>
                    <div>
                        <button class="button-edit"  mat-button>
                           <span class="span-margin" >Edit</span>
                        <mat-icon class="mat-icon-size-22-only" svgIcon="edit"></mat-icon>
                        </button> 
                        <button class="button-delete"  mat-button>
                            <span class="span-margin" >Delete</span>
                            <mat-icon class="mat-icon-size-22-only" svgIcon="trash"></mat-icon>
                         </button> 
                  </div>                </div>
                <div class="table-body">
                    <span>Lyashenko</span>
                    <div class="wallet">
                        <mat-icon class="mat-icon-size-22-only" svgIcon="tether"></mat-icon>
                          <span class="span-style">USDT</span>
                    </div>
                    <span>TRC20</span>
                    <div class="wallet">
                        <mat-icon class="mat-icon-size-22-only" svgIcon="whitelist22"></mat-icon>
                        <span class="span-margin-middle">0x70c6...4b54C</span>
                        <mat-icon class="mat-icon-size-22-only" svgIcon="copy"></mat-icon>
                    </div>
                    <div>
                        <button class="button-edit"  mat-button>
                           <span class="span-margin" >Edit</span>
                        <mat-icon class="mat-icon-size-22-only" svgIcon="edit"></mat-icon>
                        </button> 
                        <button class="button-delete"  mat-button>
                            <span class="span-margin" >Delete</span>
                            <mat-icon class="mat-icon-size-22-only" svgIcon="trash"></mat-icon>
                         </button> 
                  </div>                </div>
            
            </div>
        </div>

    </div>
</div>

<app-whitelist-mobile *ngIf="isMobile"> </app-whitelist-mobile>