<div class="header">
  Create wallet
  <button mat-icon-button (click)="ref.close()">
    <mat-icon>close</mat-icon>
  </button>
</div>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-form-field class="credi-outline">
    <mat-icon matPrefix class="prefix" svgIcon="email"> </mat-icon>
    <input
      matInput
      autocomplete
      type="text"
      placeholder="Wallet name"
      formControlName="name"
    />
    <mat-error *ngFor="let error of form.get('name') | error | slice:0:1">
      {{ error }}
    </mat-error>
  </mat-form-field>

  <mat-form-field class="credi-outline">
    <mat-icon matPrefix class="prefix" svgIcon="password"> </mat-icon>
    <mat-icon matSuffix svgIcon="hide" [password]="inputPassword"> </mat-icon>
    <input
      matInput
      autocomplete
      type="password"
      placeholder="Wallet password"
      formControlName="password"
      #inputPassword
    />
    <mat-error *ngFor="let error of form.get('password') | error | slice:0:1">
      {{ error }}
    </mat-error>
  </mat-form-field>

  <mat-form-field class="credi-outline">
    <mat-icon matPrefix class="prefix" svgIcon="password"> </mat-icon>
    <mat-icon
      matSuffix
      class="mat-icon-size-22"
      svgIcon="hide"
      [password]="inputPasswordConfirm"
    >
    </mat-icon>
    <input
      matInput
      autocomplete
      type="password"
      placeholder="Confirm wallet password"
      formControlName="passwordConfirm"
      #inputPasswordConfirm
    />
    <mat-error
      *ngFor="let error of form.get('passwordConfirm') | error | slice:0:1"
    >
      {{ error }}
    </mat-error>
  </mat-form-field>

  <button class="button-login" [disabled]="isSubmit()">Create</button>
</form>
