* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } 

.container {
    display: flex;
    gap: 32px;
    width: 1120px;
    background: #F6F5F8;
    display: grid;
    grid-template-rows: 110px 234px 504px;
    grid-row-start: 2;
    grid-column-start: 2;
    margin-top: -100px;
    margin-left: -240px;
}

.wrapper {
    display: grid;
    grid-template-columns: 246px 1366px;
    grid-template-rows: 101px 1fr;
}

.background-first-column {
    grid-column-start: 1;
    background-color: #F6F5F8;
}


.container-dash {
    display: flex;
    gap: 8px;
    width: 1120px;
    /* background: #F6F5F8; */
}

.app-sidebar {
    grid-row-start: 1;
    /* grid-row-end: 2; */
    grid-column-start: 1;
    z-index: 100;
}

.app-header {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
}

.box-dash {
    position: relative;
    overflow: hidden;
    background-color: grey;
    background-color: #FCFDFD;
    border-radius: 20px;
    width: 244px;
    height:104px;
    top: 32px;
    left: 60px;
}
.contain-dash-inner{
   padding-left: 14px;
}
.h3-referral{
    size: 24px;
    color: #11121C;
}

.contain-dash {
    display: flex;
    flex-direction: row;
    margin-top: 28px;
    margin-left: 24px;
}

.contain-dash div h4 {
    font-size: 20px;
    line-height: 140%;
    color: #11121C;
    /* margin-bottom: 8px; */
}

.contain-dash div {
    color: rgba(7,7,7,0.4);
    font-size: 14px;
}
.contain-dash div span {
    color: #11121C;
}

.button-dash {
    width: 100px;
    height: 50px;
    background-color: #F3F4FA;
    border-radius: 96px;
    margin-top: 52px;
    
    font-size: 16px;
    line-height: 140%;
    font-weight: 700;
    color: #11121C;
}

.button-dash-120 {
    width: 120px;
    height: 50px;
    background-color: #F3F4FA;
    border-radius: 96px;
    
    font-size: 16px;
    line-height: 140%;
    font-weight: 700;
    color: #11121C;
}

.button-stake {
    height: 50px;
    width: 248px;
    border-radius: 96px;
    background-color:#F3F4FA;;
    border-width: 0px;
    color: white;
    font-size: 16px;
    line-height:  140%;
    font-weight: bold;
}

.stake-inner-wrapper .button-dash-120:first-of-type {
    margin-right: 8px;
}


.container-stake-now {
    display: flex;
    gap: 32px;
}

.box-stake-top {
    position: relative;
    overflow: hidden;
    width: 312px;
    height: 92px;
    border-radius: 20px;
    background-color: #FCFDFD;
    left: 60px;
}

.box-stake-top h4 {
    font-size: 20px;
    width: 162px;
    height: 28px;
    color: #11121C;
    margin-left: 32px;
    margin-top: 32px;
    line-height: 140%;
}

.box-stake-bottom {
    position: relative;
    left: 60px;
    width: 312px;
    height:282px;
    background-color: #FCFDFD;
    border-radius: 20px;
}

.stake-inner-wrapper {
    padding: 32px;
}

.stake1 {
    display: flex;
}

.stake1 h3 {
    width: 78px;
    font-size: 24px;
    font-weight: 700;
    line-height: 140%;
    line-height: 34px;
    color: #11121C;
}
.stake1:first-of-type {
    margin-bottom: 24px;
}
.stake1:last-of-type {
    margin-bottom: 32px;
}

.stake1-inner {
    display: grid;
    grid-template-columns: 78px 4px 26px;
    column-gap: 4px; 
    grid-template-rows: 34px 20px;
    row-gap: 2px;
}



.separator {
    border-bottom: 1px solid rgba(7,7,7,0.1);
    transform: rotate(-60deg);
    width: 12px;
    height: 28px;
    margin-left: -16px;
}

.currency {
    display: flex;
    align-items: flex-end;
    line-height: 26px;
    font-size: 12px;
    font-weight: 400;
    color: #11121C;

}

.stake1 .mat-icon-size-56-only {
    width: 56px;
    height:56px;
    margin-right: 24px;
}

/* chart section */

.chart-wrapper {
    width:1000px;
    height:988px;
    background-color: #FCFDFD;
    margin-left: 60px;
    border-radius: 20px;
}

#dashboard-footer {
    border-top: 1px solid rgba(7, 7, 7, 0.1);
}

footer {
    display: flex;
    margin: 0 auto;
    height: 100px;
    width: 1000px;
    flex-direction: row;
    justify-content:space-between;  
    align-items: center;
}

footer span, footer span span {
    display: flex;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    font-weight: 400;
    color: rgb(7,7,7,0.4);
}

footer span:last-of-type {
    margin-left: 32px;
}

.button-dash-300 {
    display: block;
    margin: 0 auto;
    width: 300px;
    height: 50px;
    background-color: #F3F4FA;
    border-radius: 96px;
    
    font-size: 14px;
    line-height: 140%;
    font-weight: 400;
    color: #11121C;
}

// .trans-wrapper {
//     width: 1000px;
//     height:504px;
//     background-color: #FCFDFD;
//     border-radius: 20px;
//     margin-left: 60px;
// }

.trans-container .recent-transactions {
    display: inline-flex;
    font-size: 24px;
    font-weight: 700;
    line-height: 140%;
    color: #11121C;
    width: 272px;
    height: 34px;
    
}

.top-header {
    display: flex;
    justify-content: space-between;
    padding: 32px;
    align-items: center;
}

.table-head {
    margin-bottom: 16px;
    margin-top: 32px;
}

.table-body {
    padding-bottom: 28px;
    margin-bottom: 28px;
    margin-bottom: 22px;
    border-bottom: 1px solid #F2F2F2;
}

.table-body:last-of-type {
    border-bottom: none;
    padding-bottom: 5px;
}

.table-head,.table-body {
    display: grid;
    grid-template-columns: 175px 181px 180px 180px 177px 75px;
    margin-left: 32px;
    margin-right: 32px;
}

button.button-trans-confirm {
    width: 95px;
    height: 30px;
    background-color:rgba(79, 166, 119, 0.1);
    border: 1px solid #4FA677;
    border-radius: 18px;
    margin-top: -5px;
    
    font-size: 14px;
    line-height: 140%;
    font-weight: 400;
    color: #4FA677;
}

button.button-trans-canceled {
    width: 95px;
    height: 30px;
    background-color:rgba(241, 73, 73, 0.1);
    border: 1px solid #F14949;
    border-radius: 18px;
    margin-top: -5px;
    
    font-size: 14px;
    line-height: 140%;
    font-weight: 400;
    color: #F14949;
}

button.button-trans-processed {
    width: 95px;
    height: 30px;
    background-color:rgba(224, 209, 70, 0.1);
    background-color:rgba(139, 130, 45, 0.1);
    border: 1px solid #E0D146;
    border: 1px solid #8B822D;
    border-radius: 18px;
    margin-top: -5px;
    
    font-size: 14px;
    line-height: 140%;
    font-weight: 400;
    color: #DDCE43;
    color: #8B822D;
}

.table-body .confirm {
    color: #4FA677;
    font-weight: 700;
}

.table-body .canceled {
    color: #F14949;
    font-weight: 700;
}

.table-body .processed {
    color: #DDCE43;
    color: #8B822D;
    font-weight: 700;
}

.header-icon.arrow-up-right {    
    /* height: 15px; */
    width: 16px;
    vertical-align: middle;
    margin-left: 8.67px
}

.action {
    display: flex;
    align-items: center;
}

.heading {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    margin-left: 60px;
    margin-top: 32px;
}

.heading h3 {
    display: inline-flex;
    font-size: 24px;
    color:#11121C;
    font-weight: 700;
    line-height: 140%;
}

.button-filter {
    flex-direction: row-reverse;
    height: 50px ;
    width: 123px;
    border-radius: 100px;
    background-color:  #FCFDFD;
    border-width: 0px;
    color: #11121C;
    
    color: #11121C;
    font-size: 14px;
    line-height:  140%;
    font-weight: 400;
    margin-bottom: 12px;
    margin-left: 50px;
}

.chart-table {
    display: grid;
    align-items: center;
    width: 936px;
    height: 90px;
    border: 1px solid #F2F2F2;
    border-radius: 100px;
    /* margin: 0 auto; */
  }

  .first-column {
    display: grid;
    grid-template-columns: 50px 160px 158px 156px 156px 1fr;
    margin-left: 20px;
  }

mat-icon.mat-icon-size-48 {
   height: 48px;
   width: 48px;
}
.trans-wrapper-referral{
    border-radius: 20px;
    padding-top: 32px;
}
.contain-dash-last-inner{
    padding-top: 10px;
}



@media(min-width: 700px){
    .container-dash-mobile,
    .trans-wrapper-mobile,
    .referral-banner-mobile{
        display: none;
    }
}

@media(max-width: 700px){
    .container-dash,
    .referral-banner,
    .trans-wrapper{
        display: none;
    }

.container-dash-mobile {
    display: grid;
    gap: 4px;
    width: 312px;
    /* background: #F6F5F8; */
}

.container {
    display: flex;
    gap: 32px;
    width: 1120px;
    background: #F6F5F8;
    display: grid;
    grid-template-rows: 450px 340px 700px;
    grid-row-start: 2;
    grid-column-start: 2;
    margin-top: -100px;
    margin-left: 20px;
}

.box-dash {
    position: relative;
    overflow: hidden;
    background-color: grey;
    background-color: #FCFDFD;
    border-radius: 20px;
    width: 312px;
    height:96px;
    top: 32px;
    margin-left: -60px;
    // left: 60px;
}

.h3-general {
    width: 435px;
    height: 34px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    /* identical to box height, or 34px */
    /* Color styles/Primary/Black */
    color: #070707;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    // margin: 12px;
    padding-top: 20px;
  }
  
  .referral-banner-mobile{
    margin-top: 32px;
  }
  .trans-wrapper-mobile{
    margin-left: -20px;
  }

}